.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#upload-cloud {
  all: unset;
  display: inline-block;
  width: 250px;
  padding: 40px 0 0 0;
  height: 40px;
  overflow: hidden;
  box-sizing: border-box;
  background: url('../public/698394-icon-130-cloud-upload-512.png') center center no-repeat #ffffff;
  border-radius: 5px;
  background-size: 45px 45px;
  cursor: pointer;
  border: 1px solid #d8d8d8;
}
